.survey-container {
    padding: 20px;
    position: fixed;
    display: flex;
    top: 0;
    left: -400px; 
    width: 400px; 
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.survey-container.open {
    left: 0;
}

.survey-button {
    position: absolute;
    top: 80%;
    left: 100%; /* Position it right outside the survey container */
    transform: translateY(-50%);
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.number-input{width: 80px;}
.form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.form-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.question-text{
    text-align: center;
}
.suggestion{
    resize: none;
    width: 100%;
}

.submit-button{
    width: 80%;
    padding: 5px;
    align-self: center;
}