.gameSelect{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-start;
    width: 100%;
}
.game{
    align-self: stretch;
    width:20%;
    border: 20px, lightblue;
}
.gameBanner{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.gameButton{
    width:90%;
    padding: 10px;
    border-radius: 10px;
    background-color: #90ee90;
    box-shadow: 200px, gray;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}