.content{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 15px;
    background-color: lightgreen;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.navButton{
    padding: 15px;
    margin:0px;
    border: solid;
    background-color:lightgreen;
    border-width: 0px medium 0px medium;
    border-color: green;
    display: inline-block;
}

.navButton.navButtonLogoff{
    margin-left:auto;
    color:red;

    border-color: red;
}

.welcomeLabel{
    align-self: center;
}