<p-toast/>
<div class="content">
<h1>Registrar usuario</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formRow">
            <label for="user" class="formItem">Nombre de usuario: </label>
            <input id="user" type="text" formControlName = "user" required class="formItem formField">
        </div>
        <div class="formRow">
            <label for="email" class="formItem">E-mail: </label>
            <input id="email" type="text" formControlName = "email" required class="formItem formField">
        </div>
        <div class="formRow">
            <label for="emailRepeat" class="formItem">Repetir E-mail:</label>
            <input id="emailRepeat" type="text" formControlName = "emailRepeat" required class="formItem formField">
        </div>
        <div class="formRow">
            <label for="password" class="formItem">Contraseña: </label>
            <input id="password" type="password" formControlName = "password" required class="formItem formField">
        </div>
        <button type="submit">Registrar Usuario</button>
    </form>
</div>