<p-toast/>
<div class="content">
    <div class="slice-box-container">
    <h1>Seleccione la siguiente letra</h1>
    <div class="gameplay">
        <div class ="info">
            <img src="{{attemptsDir}}" alt="Ahorcado {{attemptsDir}}" class="hangmanImage">
            <div class = "wordDisplay">
                <span *ngFor="let letter of displayWord">{{letter}} </span>
            </div>
        </div>
        <div class="letterButtonGrid">
            <div>
                <button *ngFor="let button of Letterbuttons" [disabled]="button.used" (click)="gameplayLoop(button.letter)" class="letterButton">
                  {{ button.letter }}
                </button>
              </div>

        </div>
    </div>
    <span>Intentos restantes: {{6 - attempts}}</span>
    <div *ngIf="gameEnd">
        <button title="Reiniciar" (click)="reset()">Reiniciar</button>
    </div>
</div>
</div>
