.content{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gameplay{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}
.letterButtonGrid{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 80%;
    flex-shrink: 3;
}
.letterButton{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
    font-weight: bold;
    border-width: 2px;
    border-color: green;
    margin: 10px;
}
.wordDisplay{
    font-size: 32px;
    font-weight: bold;
    width:100%;
    flex-wrap: nowrap;
    
}
.info{
    display:flex;
    flex-direction: column;
    width: auto;
    flex-grow: 3;
}

.hangmanImage{
    resize: none;
    align-self:center;
    
}

.slice-box-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    border:40px solid transparent;
    border-image: url(../../../../assets/9slice.png) 20 20 20 20 fill;
    width: 90vw;
    margin-top: 30px;
}