<p-toast/>
<div class="content">
<h1>Inicio de sesión</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formRow">
            <label for="email" class="formItem">Nombre de usuario:</label>
            <input id="email" type="text" formControlName = "email" class="formItem formField">

        </div>
        <div class="formRow">
            <label for="password" class="formItem">Contraseña:</label>
            <input id="password" type="password" formControlName = "password" class="formItem formField">
        </div>
        <div class="formRowBtn">
            <button type="submit" class="formItem btn">Iniciar Sesión</button>
            <button type="button" (click)="debugUser()" class="formItem formField btn">DEBUG USER</button>
        </div>
    </form>
</div>